html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-image: url(../images/bg-linen-d.jpg);
}

div#main-container
{
	padding-top: 70px;
    background-color: white;
}

div.well.sojo-logo
{
	padding: 10px;
	float: left;
	width: 100%;
	margin: 0;
}

div.sojo-logo > svg
{
	max-height: 175px;
}

div.slc
{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.slc > p
{
	margin: 0;
	padding: 0;
	float: left;
}

